@page "/info"
@inject IPrinterFactory PrinterFactory
@inject ILogger<Home> _logger;
@implements IDisposable
@layout KioskLayout

<PageTitle>Info Screen</PageTitle>

<h5>@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</h5>

<MudGrid Style="margin-top:2px;">
    @foreach (var printer in Printers)
    {
        <PrintStatusWidget Printer="printer" IsKiosk="true" />
    }
</MudGrid>

    @code {

    bool isbusy = true;
    System.Timers.Timer timer = new(10000);

    public IEnumerable<IPrinter> Printers = new List<IPrinter>();

    protected override async Task OnInitializedAsync()
    {

        timer.Elapsed += (s, e) => InvokeAsync(ReloadAsync);    

        Printers = PrinterFactory.GetPrinters();

        await ReloadAsync();

        timer.Start();

        await base.OnInitializedAsync();
    }

    public async Task ReloadAsync()
    {
        isbusy = true;
        await InvokeAsync(StateHasChanged);
        isbusy = false;
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timer.Stop();
        timer.Dispose();
    }

}